
   <div class="jumbotron mt-4">
       <h1 class="display">
           <strong><strong>Sistema de Administración de Inventarios</strong></strong>
       </h1>
       <p class="lead">
           Secretaría Administrativa
       </p>

       <hr class="my-4">
       <p>Sistema orientado a la administración de inventarios de la Facultad de Ingenieria "Arturo Narro Siller"</p>
       
   </div>