<div class="row mt-4">
  <div class="col-md-4 mx-auto">
    <div class="card" id="formContainer">
      <div class="card-header" style="color:white; background-color: #ff0039; border-color: #ff0039;">
        Account Login
      </div>

      <img src="/img/logoUAT.png" alt="Logo" class="rounded-circle mx-auto d-block m-4 logo">

      <div class= "card-body">
      <form action="/users/singin" method="POST">
        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" />
        </div>
        <button class="btn btn-danger btn-block">
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</div>
</div>